#app {
  background-color: #eeeeee;
}
main {
  background-color: #eeeeee;
  padding: 0rem 4rem;
}
hr {
  background-color: #cccccc;
  margin: 1rem 0;
}
.columns:not(:last-child) {
  margin: 0;
}
.title:not(:last-child) {
  margin-bottom: 1rem;
}
.none {
  display: none;
}
.notice,
.alert {
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5rem;
  position: relative;

  .is-primary {
    background-color: #00d1b2;
    color: #fff;
  }

  .is-danger {
    background-color: #ff3860;
    color: #fff;
  }
}
.disabled {
  pointer-events: none;
}
.notification {
  margin-top: 1rem;
  padding: 0.5rem;
}
.note {
  background-color: rgba(255, 255, 110, 0.4);
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;

  p {
    color: black;
    font-size: 0.8rem;
  }
}
